* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.h1 {
    color: black;
}

header {
    background-image: url(dusterr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    width: auto;
    border-bottom: rgb(0, 0, 0) solid 6px;
    border-top: rgb(0, 0, 0) solid 6px;
}

.titulo {
    font-size: 3rem;
    font-family: Papyrus, fantasy;
    margin-top: -10px;
}

header .lista {
    list-style: none;
    display: flex;
}

header .lista .a {
    background-color: rgb(193, 196, 16);
}

header .lista .b {
    position: absolute;
    top: 23%;
    margin-left: 10px;
}

header .lista .c{
    position: absolute;
    top: 23%;
    margin-left: 70px;
}

header .lista .d {
    position: absolute;
    top: 23%;
    margin-left: 130px;
}

